
body {
	text-align: center;
	font: 1.2em "Fira Sans", sans-serif;
	-webkit-transition: all 0.5s ease;
    	-moz-transition: all 0.5s ease;
    	-o-transition: all 0.5s ease;
    	transition: all 0.5s ease;
}

.safe {
	background-color: #2fc864;
}

.warning {
	background-color: #e4ea00;
}

.danger {
	background-color: #f08a27;
}

.critical{
	background-color: #f05858;
}

#timer{
	font-size: 1500%;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

button {
	font-size: 150%;
	margin: 10px;
	-webkit-border-radius: 15;
  	-moz-border-radius: 15;
  	border-radius: 15px;
	padding: 15px;
	background-color: #FFF;
	color: #000;
}

button:disabled {
	background-color: #999;
}
